:root{
    --cor-base: #703C26;
    --cor-analoga1: #704926;
    --cor1: #8244c8;
    --cor2: #707026;
    --cor-complementar: #267066;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-base);
    /* position: fixed;
    top: 0;
    z-index: 999; */
    border-top: 0;
    border-left: 0;
    border-bottom: 2px;
    border-right: 0;
    border-color: rgba(0, 0, 0, 0.384);
    border-style: solid;
}

section.logo {
    width: 100px;
    height: 100px;
    margin-left: 70px;
    border-radius: 10px;
    background-image: url("../image/logo-Toda-Vida-remove.png");
    background-position: center;
    background-size: cover;
}

section.menu {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    width: 100%;
    padding: 15px 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: yellowgreen;
}

/* main{
    margin-top: 100px;
} */